*{
	padding: 0;
	margin: 0;
}
body {
	min-width: 400px;
	color: #4d4d4d;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
}
.container{
	margin: 0 auto;
	width: 100%;
	max-width: 1170px;
}
.navbar{
	padding-top: 83px;
}
.banner{
	width: 100%;
	background-image: url('../img/banner.png');
	background-size: cover;
}
.navbar{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.menu{
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}
.menu__item::after{
	content: "//";
	display: inline-block;
	color: #fff;
	padding-right: 38px;
}
.menu__item:last-child::after{
	content: "";
	display: inline-block;
}
.menu__item a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding-right: 38px;
}
.menu__item:last-child a{
	padding-right: 0;
}
.menu__item a:hover{
	color: #0d0d0d;
	cursor: pointer;
}

@media screen and (max-width:1024px){
	.menu{
		display: none;
	}
}

.banner__content{
	text-align: center;
	padding-top: 228px;
	padding-bottom: 178px;
}
.banner__title{
	color: #fff;
	font-size: 32px;
	font-weight: 300;
	text-transform: uppercase;
	width: 100%;
}
.strong__title{
	font-size: 53px;
	font-weight: 700;
	padding-top: 30px;
	padding-bottom: 30px;
}
.banner__btn{
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	padding: 16px 39px;
	background-color: #f39c12;
	border: 0;
	margin-top: 95px;
}
.banner__btn:active{
	transform: translateY(4px);
}
/* end style for banner*/

/* style for section about */
.about{
	margin-top: 100px;
}
.header{
	margin-bottom: 145px;
}
.header__title{
	display: flex;
	justify-content: center;
	align-items: center;
}
.header_text_name{
	font-size: 30px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	padding-right: 20px;
	padding-left: 75px;
}
.vertical_line{
	width: 4px;
	height: 45px;
	background-color: #f39c12;
}
.header_text{
	padding-left: 17px;
	text-transform: uppercase;
}
@media screen and (max-width:640px){
	.header__title{
		flex-wrap: wrap;
	}
	.vertical_line{
		display: none;
	}
	.header_text_name{
		padding-bottom: 20px;
	}
}
.about__story{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 125px;
	border-bottom: 2px solid #e6e6e6;
}
.story__content{
	padding-left: 30px;
}
.our__story{
	padding-right: 30px;
}
.story__title{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
	padding-bottom: 30px;
}
.story_subtitle{
	font-size: 18px;
	line-height: 25px;
	color: #ec7063;
	padding-bottom: 40px;
}
.story__text{
	line-height: 25px;
}
@media screen and (max-width:960px){
	.about__story{
		flex-wrap: wrap;
		justify-content: center;
	}
	.story__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.story__title{
		padding-top: 15px;
	}
	.story__img img{
		width: 100%;
	}
}

.skills{
	display: flex;
	justify-content: space-between;

	margin-top: 120px;
}
.skills__item{
	padding-left: 25px;
	padding-right: 25px;
}
.skills__story{
	border-bottom: 0;
	padding-bottom: 65px;
}
.graph__item{
	margin-bottom: 45px;
}
.graph{
	height: 10px;
	width: 100%;
	background-color: #e6e6e6;
}
.graph_title{
	padding-bottom: 15px;
	font-size: 20px;
}
.strong_title{
	font-weight: 700;
	text-transform: uppercase;
	color: #000;
}
.graph__value{
	height: 100%;
	background-color: #f39c12;
}
/* skills % */
#design{
	width: 88%;
}
#development{
	width: 76%;
}
#wordpress{
	width: 81%;
}
#drupal{
	width: 71%;
}


@media screen and (max-width:960px){
	.skills{
		flex-wrap: wrap-reverse;
		justify-content: center;
	}
	.skills__item img{
		width: 100%;
	}
}

/* end style for section about */
.quote{
	width: 100%;
	background-image: url('../img/quote_bg.png');
	background-size: cover;
	background-repeat: no-repeat;
	margin-top: 100px;
}
.quote__content{
	margin: 0 auto;
	padding-top: 245px;
	padding-bottom: 255px;
	text-align: center;
}
.quote__title{
	display: flex;
	justify-content: space-around;
	font-size: 45px;
	color: #fff;
	font-weight: 700;
}
.quotes{
	font-size: 65px;
	font-style: italic;
}
.quote_line{
	margin: 43px auto 23px auto;
	height: 4px;
	width: 50px;
	background-color: #f39c12;
}
.quote__text{
	text-transform: uppercase;
	font-size: 24px;
	color: #fff;
	font-weight: 700;
}

/* end style for section quote*/

/* style for section team */
.team{
	margin-top: 100px;
}
.team_card{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.card__item{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0 15px;
}
.card__photo{
	padding: 30px 35px;
}
.card__name{
	font-size: 24px;
	font-weight: 700;
	color: #000;
	text-transform: uppercase;
	padding-bottom: 12px;
}
.card__profession{
	font-size: 15px;
	color: #999999;
	padding-bottom: 14px;
}
.card__line{
	width: 20px;
	height: 4px;
	background-color: #cccccc;
	margin: 0 auto;
}
.card__text{
	margin-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 30px;
}
/* card hover style */
.card__item:hover{
	border-top: 4px solid #f39c12;
	cursor: pointer;
	background-color: #f0f0f0;
}
.card__item:hover .card__line{
	background-color: #e74c3c;
}
.card__social{
	margin-top: 25px;
	margin-bottom: 30px;
}
.card__links{
	color: #999999;
	padding-left: 7px;
	padding-right: 7px;
	transition: all .2s;
}
.card__links:hover{
	color: #f39c12;
}
@media screen and (max-width:1220px){
	.team_card{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}
/* end style for section team */