*{
	padding: 0;
	margin: 0;
}
body {
	min-width: 400px;
	color: #4d4d4d;
	font-family: "Open Sans", Arial, sans-serif;
	font-size: 16px;
}
.container{
	margin: 0 auto;
	width: 100%;
	max-width: 1170px;
}
.navbar{
	padding-top: 83px;
}
.banner{
	width: 100%;
	background-image: url('../img/banner.png');
	background-size: cover;
}
.navbar{
	width: 100%;
	display: flex;
	justify-content: space-between;
}
.menu{
	list-style: none;
	display: flex;
	justify-content: space-between;
	padding-top: 60px;
}
.menu__item::after{
	content: "//";
	display: inline-block;
	color: #fff;
	padding-right: 38px;
}
.menu__item:last-child::after{
	content: "";
	display: inline-block;
}
.menu__item a{
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	color: #fff;
	font-size: 18px;
	font-weight: 700;
	padding-right: 38px;
}
.menu__item:last-child a{
	padding-right: 0;
}
.menu__item a:hover{
	color: #0d0d0d;
	cursor: pointer;
}

@media screen and (max-width:1024px){
	.menu{
		display: none;
	}
}

.banner__content{
	text-align: center;
	padding-top: 228px;
	padding-bottom: 178px;
}
.banner__title{
	color: #fff;
	font-size: 32px;
	font-weight: 300;
	text-transform: uppercase;
	width: 100%;
}
.strong__title{
	font-size: 53px;
	font-weight: 700;
	padding-top: 30px;
	padding-bottom: 30px;
}
.banner__btn{
	text-transform: uppercase;
	font-size: 15px;
	color: #fff;
	font-weight: 700;
	cursor: pointer;
	padding: 16px 39px;
	background-color: #f39c12;
	border: 0;
	margin-top: 95px;
}
.banner__btn:active{
	transform: translateY(4px);
}
/* end style for banner*/

/* style for section about */
.about{
	margin-top: 100px;
}
.about__header{
	margin-bottom: 145px;
}
.about__title{
	display: flex;
	justify-content: center;
	align-items: center;
}
.about_text_name{
	font-size: 30px;
	color: #000;
	font-weight: 700;
	text-transform: uppercase;
	padding-right: 20px;
	padding-left: 75px;
}
.vertical_line{
	width: 4px;
	height: 45px;
	background-color: #f39c12;
}
.about_text{
	padding-left: 17px;
}
@media screen and (max-width:640px){
	.about__title{
		flex-wrap: wrap;
	}
	.vertical_line{
		display: none;
	}
	.about_text_name{
		padding-bottom: 20px;
	}
}
.about__story{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-bottom: 125px;
	border-bottom: 2px solid #e6e6e6;
}
.story__content{
	padding-left: 30px;
	padding-right: 50px;
}
.story__title{
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	color: #000;
}
.story_subtitle{
	font-size: 18px;
	line-height: 25px;
	color: #ec7063;
	padding-top: 30px;
}
.story__text{
	padding-top: 50px;
	line-height: 25px;
}
@media screen and (max-width:960px){
	.about__story{
		flex-wrap: wrap;
		justify-content: center;
	}
	.story__content{
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
	}
	.story__title{
		padding-top: 15px;
	}
}